<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>People Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-label>Name: </ion-label>{{actor.name}}
        </ion-item>
        <ion-item>
            <ion-label>Birth Year: </ion-label>{{actor.birth_year}}
        </ion-item>
        <ion-item>
            <ion-label>Eye Collor: </ion-label>{{actor.eye_color}}
        </ion-item>
        <ion-item>
            <ion-label>Gender: </ion-label>{{actor.gender}}
        </ion-item>
        <ion-item>
            <ion-label>Height: </ion-label>{{actor.height}}
        </ion-item>
        <ion-item>
            <ion-label>Mass: </ion-label>{{actor.mass}}
        </ion-item>
        <ion-item>
            <ion-label>Hair Color: </ion-label>{{actor.hair_color}}
        </ion-item>
        <ion-item>
            <ion-label>Skin Color: </ion-label>{{actor.skin_color}}
        </ion-item>

        <ion-label>Homeworld: </ion-label>
        <ion-list > 
            <ion-item>
                    <ion-button (click)="getSingleUrlData(actor.homeworld,'card-details-planets')" >Homeworld</ion-button>
            </ion-item>
        </ion-list>

        <ion-row *ngIf="actor.starships.length > 0" >
            <ion-label>Starships: </ion-label>
            <ion-list *ngFor="let starship of actor.starships"> 
                    <ion-item>
                            <ion-button (click)="getSingleUrlData(starship,'card-details-startship')" >Used Starship</ion-button>
                    </ion-item>
            </ion-list>
        </ion-row>

        <ion-row *ngIf="actor.films.length > 0" >
            <ion-label>Films: </ion-label>
            <ion-list *ngFor="let film of actor.films"> 
                    <ion-item>
                            <ion-button (click)="getSingleUrlData(film,'card-details-films')" >Film</ion-button>
                    </ion-item>
            </ion-list>
        </ion-row>

    </ion-card>
      
      
</ion-content>
