<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-list>
    <ion-item *ngFor="let actor of actors.results" >
        <ion-chip (click)="getActorOBJ(actor)">
          <ion-avatar >
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>{{actor?.name}}</ion-label>
        </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
