<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      STAR WARS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/images/theme.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>
          Integrantes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>KEITE MARA NOGUEIRA DOS PASSOS</p>
        <p>RODOLPHO BRUNO DOS SANTOS NOGUEIRA</p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
